@page
@model MVCJournalApi.Pages.Grade.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>StudyGrade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudyGrade.Grade" class="control-label"></label>
                <input asp-for="StudyGrade.Grade" class="form-control" />
                <span asp-validation-for="StudyGrade.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyGrade.StudyStudentId" class="control-label"></label>
                <input asp-for="StudyGrade.StudyStudentId" class="form-control" />
                <span asp-validation-for="StudyGrade.StudyStudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudyGrade.StudyOccupationId" class="control-label"></label>
                <input asp-for="StudyGrade.StudyOccupationId" class="form-control" />
                <span asp-validation-for="StudyGrade.StudyOccupationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
